/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require owl.carousel
 *= require owl.theme
 *= require bootstrap-datepicker3
 *= require s3_direct_upload_progress_bars
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'lightbox-bootstrap';
@import 'navigation';

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 1.5em;
}

.row-relative {
  position: relative;
}

.bottom-column {
  position: absolute;
  bottom:0;
  right:0;
}

.panel-body.menu {
  padding: 10px;
}

.row-panel-body {
  margin: 15px;
}

.panel-title, .btn {
  font-size: 1em;
}

.panel-title .taken-at {
  font-style: italic;
  font-size: 0.8em;
  color: gray;
}

.panel-title .not-processed {
  font-style: italic;
  font-size: 0.9em;
}

.datepicker {
  font-size: 0.9em;
}

.img-thumbnail {
  max-width: none;
  width: 100px;
}

.img-showed {
  max-width: none;
  margin-top: 5px;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

.flex-item {
  text-align: center;
  margin: 20px 5px 5px 5px;
}

.photo-show {
  margin-bottom: 5px;
}

.photo-thumb {
  margin-bottom: 5px;
}

.photo-header-small {
  font-size: 0.9em;
}

.progress {
  height: 10px;
}

.panel.panel-success {
  margin-bottom: 0px;
}

.action-buttons {
  margin-top: 10px;
  margin-bottom: 20px;
}

.upload {
  width: auto;
}

.upload .progress .bar {
  background: #3c763d;
}

